<!DOCTYPE html>
<html>
<head>
  <title>Error | Poorxy</title>
  <style>
#e{color:red;text-align:center;font-family:monospace}
  </style>
  <script>history.pushState(0, 0, "/error")</script>
</head>
<body>
  <h3 id=e><%= error %></h3>
</body>
</html>
